name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read the project file
        run: cat hello.txt

      - name: Open folder test
        run: cd test

      - name: Read the file
        run: cat new.txt





